*,
*:after,
*:before {
	@include box-sizing(border-box);
}

* {
	margin: 0;
	padding: 0;
}
html{
	margin-top:0!important;
}
#wpadminbar{
	display: none!important;
}

body {
	background: #eee;
	//max-width: 1600px;
	margin: 0 auto;
	font-family: $font-stack;
}

section {
	background: $color-white;
	display: block;
	position: relative;
	width: 100%;
	padding: 0 65px;
	@include transition(.3s $ease);
	@extend %clearfix;
	&.full-width {
		padding: 0;
	}
}

#site-wrapper {
	background: $color-black;
    position: relative;
    overflow: hidden;
    width: 100%;
    
	#site-canvas {
	    width: 100%;
		position: relative;
		//@include transform(translateX(0));
		left:0;
		@include transition(.3s $ease);  
	} 
    

	
	header {
		//background: url(../images/bg-header-fpo.png) no-repeat right top;
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 200;
		top:0;
		left: 0;
		
		.logo {
			padding: 50px 50px 0 50px;
			line-height: 0;
			float: left;
			position: fixed;
			&.passed{
				position: absolute;
				top: 50vh;
			}
			a{
				width: 224px;
				height: 66px;
				display:block;
				background: url(../images/ui-logo.svg) no-repeat left top;
				background-size:224px 66px;
				span{
					display: none;
				}			
			}
		}
		
		nav#utility-menu{
			float: right;
			//position: fixed;
			//right:0;
			#phone-number{
				text-decoration: none;
				color: white;
				display: inline-block;
				float: left;
				padding-top: 50px;
				margin-right: 30px;
				line-height: 1;
				font-weight: bold;
			}
			#login-btn{
				float: left;
				position: relative;
				overflow: visible;
				
				a{
					width: 420px;
					height: 85px;
					display: block;
					line-height: 0;
					position: relative;
					z-index: 100;
					overflow: hidden;
					
					span{
						color: white;
						float: left;
						left: 80px; top: 50px;
						text-transform: uppercase;
						font-size: 14px;
						font-weight: bold;
						line-height: 1;
						letter-spacing: 1px;
						width: 300px;
						position: relative;
						z-index: 100;
						@include transition($fast $ease);

					}
					&:hover{
						text-decoration: none;
					}
					i{
						right:0;
						position: absolute;
						top:-3px;
						height: 20px;
						width: 20px;
						background: url(../images/ui-icon-chevron-right-white.svg) no-repeat center center;
						background-size: auto 100%;
					}
				}
				#login-background{
					position: absolute;top:0;left:0;
					fill: #343434;
					height: 100%;
					width: 100%;
				}
				canvas{
					position: absolute;
					width: 100%;
					height: 100%;
					top:0;
					left: 0;
					z-index: 10;
				}
				&:hover{
					a span{
						left: 30px;
						width: 370px;
					}
				}
			}
			#search-btn{
				float: left;
				padding-top: 50px;
				width: 130px;
				text-align: center;
				a{
					color: white;
					line-height: 1;
					i{
						background-image: url(../images/ui-icon-search.svg);
						background-size: 100% auto;
						background-repeat: no-repeat;
						width: 25px;
						height: 25px;
						display: inline-block;
						@include transition($fast $ease);
					}
					&:hover{
						i{
							@include transform(rotate(45deg) scale(1.1) translateY(-5px));
						}
					}
				}
			}
		}
		
	}
    
    .toggle-nav {
		display: block;
		width: 35px;
		height: 112px;
		color: $color-white;
		position: absolute;
		top: 50vh;
		left: 50px;
		margin: -56px 0 0;
		cursor: pointer;
		z-index: 9999;
		
		i.icon{
			background-size: 35px 27px;
			width: 35px;
			height: 27px;
			top: 0;
			left:0;
			z-index: 100;
			position:absolute;
			@include backface-visibility(hidden);
			@include transition($slow $ease);
			&.menu{
				background: url(../images/ui-icon-menu.svg) no-repeat center center;
			}
			&.close{
				background: url(../images/ui-icon-close.svg) no-repeat center center;
				@include opacity(0);
			}
		}
		&:after{
			content: '';
			display: block;
			background: black;
			width: 100px;
			height: 90px;
			left: -30px;
			top: -30px;
			position: absolute;
			@include transition($slow $ease);
			@include backface-visibility(hidden);
			@include transform(scale(0) rotate(-45deg));
		}
		span{
			position: relative;
			bottom: -100%;
			display:block;
			text-transform: uppercase;
			@include transform(rotate(-90deg));
			@include transition($slow $ease);
			font-family: $font-stack-compressed;
			letter-spacing: 4px;
			font-size: 28px;
			line-height: 0;
			&#close{
				@include opacity(0);
			}
		}
		&:hover{
			text-decoration: none;
			i{
				top: 5px;
			}
			span#menu{
				bottom: -80%;
				@include opacity(0);
			}
		}
		&.stuck{
			position: fixed;
			top: 30px;
			left:30px;
			margin: 0;
			@include transition(left $slow $ease 0s);
			span{
				@include opacity(0);
				bottom: -120%;
			}
			&:after{
				@include transform(scale(1) rotate(0deg));
			}
			
			&:hover{
				i{
					top:0;
				}
				&:after{
					background:#c20304;
					//height: 100px;
					//top: -40px;
					//@include transform(scale(1) rotate(-45deg));
				}
			}
		}
	}
	
	&.show-nav .toggle-nav {
		&.stuck{
			@include transition($slow $ease);
			left: $open-nav-w;
			margin-left: 30px;
			top: 30px;

			&:after{
				background: #c20304;
			}
			&:hover{

				&:after{
					background: #343434;
					@include transform(scale(1) rotate(0deg));
				}
				span#close{
					display: none!important
				}
			}
			span#close{
				display: none!important;
			}
			
		}	

		i{
			&.close{
				@include opacity(1);
			}
			&.menu{
				@include opacity(0);
			}
		}
		span{
			&#close{
				@include opacity(1);
			}
			&#menu{
				@include opacity(0);
			}	
		}
		
		&:hover{
			span#close{
				bottom: -80%;
				@include opacity(0);
			}
		}
		

		
		
	}
	
	#site-menu {
		background: $color-black;
		position: fixed;
	    width: $open-nav-w;
	    height: 100vh;
	    top: 0;
	    left: $open-nav-w * -1;
	    overflow: hidden;
	    @include transition(left $slow $ease 0s);
	    ul {
		    list-style: none;
		    position: absolute;
		    top:50%;
		    width: 100%;
		    z-index: 200;
		    left:0;
		    @include transition($fast $ease);
		    @include transform(translateY(-50%));
		    li{
			    line-height: 70px;
			    position: relative;
			    a{
					display: block;
				    width: 100%;
				    padding: 20px 50px;
				    line-height: 1.5em;
				    color: #646464;
				    text-decoration: none;
				    text-transform: uppercase;
				    font-weight: 500;
				    &:hover{
					    background: $color-red;
					    color: $color-white;
				    } 
			    }
			    &.menu-item-has-children{
				    &:after{
					    content: '';
						background: url(../images/ui-icon-chevron-right-white.svg) no-repeat center center;
						background-size: auto 100%;
						height: 20px;
						width: 20px;	
						position: absolute;
						top: 50%;
						right: 10%;
						margin-top: -10px;	
						@include opacity(0);    
						@include transition($fast $ease);
				    }
				    &:hover{
					    &:after{
						    @include opacity(1);
						    right: 5%;
					    }
				    }
				    
			    }
			    &.selected a{
					    background: $color-red;
					    color: $color-white;
					    @include opacity(0.2);
			    }
		    }
		    &.sub-menu{
				left: 100%;
				position: fixed;
				width: 80%;
				top:0;
				@include transform(translateY(0));
			    li{
				    a{
					    text-transform: none;
					    font-weight: 300;
					    font-size: 18px;
					    line-height: 1.5;
					    padding: 10px 30px;
				    }
			    }
		    }
	    }
	    #back-btn{
			position: absolute;
			left:6%;
			top:-20px;
			height: 20px;
			width: 20px;
			z-index: 300;
			@include transition($fast $ease);
			i{
				background: url(../images/ui-icon-chevron-left-white.svg) no-repeat center center;
				background-size: auto 100%;
				height: 20px;
				width: 20px;	
				display: block;			
			}
	    }
	    
	    #sub-fill{
			position: absolute;
			width: 80%;
			height: 100%;
			background: #252525;
			top:0;
			left: 100%;
			z-index: 100;
			@include transition($fast $ease);
		}
		
	    #sub-sub-fill{
			position: absolute;
			width: 80%;
			height: 100%;
			background: #252525;
			top:0;
			left: 100%;
			z-index: 100;
			@include transition($fast $ease);
		}
	    
	    &.open-sub{
		    background: #121212;
		    ul#primary{
			    left:-80%;
			    li:not(.selected){
				    *{
				    	//@include opacity(0.5);
					}
					.sub-menu{
					 	display: none;
					 }	
				}
				
		    }

			.menu-item-has-children.selected{
			    &:after{
				    display: none;    
			    }

			    
		    }	
    
			.selected{
			    ul.sub-menu{
				    //left:100%;
				    li{
					    @include opacity(1);
					    a{
						    @include opacity(1);
						    background: none;
						    color: #646464;
						    &:hover{
							    color: $color-white;
							    background: $color-red;
						    }

					    }
					    &.selected a{
						    background: $color-red;
						    color: $color-white;
						    @include opacity(0.2); 
					    }
				    }
				    
			    }
			}
		    #back-btn{
			    top: 6%;
		    }
			#sub-fill{
				left: 20%;	
				-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
				-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
				box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
			}
			
			&.open-sub-sub{
				ul#primary{
					left: -160%;
				}
				
				#sub-fill{
					left: -80%;
				}
				
				#sub-sub-fill{
					left: 20%;
				}
				
				ul.sub-menu{
					ul.sub-menu{
						width: 100%;
						 li{
						    @include opacity(1);
						    a{
							    @include opacity(1);
							    background: none;
							    color: #646464;
							    &:hover{
								    color: $color-white;
								    background: $color-red;
							    }
	
						    }
						}
					}
				}
			}
	    }
	}


	nav#secondary{
		height: $secNavHeight;
		width: auto;
		padding-right: 0;
		padding-left: 155px;
		position: absolute;
		top: 100vh;
		z-index: 1000;
		left:-1px;
		background: #252120;
		margin-top: $secNavHeight *-1;
		@include transition(transform $fast $ease $slow,padding $fast $ease 0s);
		ul{
			position: relative;
			top: 50%;
			list-style: none;
			z-index: 100;
			text-align: center;
			width: 100%;
			left: -10px;
			@include transform(translateY(-50%));
			@include transition($fast $ease);
			li{
				display: inline-block;
				margin: 0 20px;
				@include transition($fast $ease);
				a{
					color: white;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 15px;
					font-family: $font-stack-compressed;
					&.current, &:hover{
						border-bottom: 3px solid white;
						text-decoration: none;
					}
				}
			}
		}
		#secondary-nav-background{
			fill: #252120;
			position: absolute;
			top:0;
			right: -44px;
			width: auto;
			height: 100%;
		}
		&.stuck{
			position: fixed;
			top:0;
			margin-top: 0;
		}
		&.squeeze{
			//padding-left: 125px;
			li{
				margin: 15px;
			}
		}
	}



    &.show-nav #site-canvas {
   		//@include transform(translateX(360px));    
   		left: $open-nav-w;
   		
   		#site-menu{
	   		left:0;
   		}
 
		nav#secondary.stuck{
			@include transform(translateY(($secNavHeight + 5) *-1));
			@include transition($fast $ease);
		}
   		
	}
	
	#bottom {
		background: #000;
		&:before {
			content: '';
			background: url(../images/ui-icon-diamond-red-white-stroke.svg) no-repeat center center;
			height: 4vw;
			width: 4vw;
			background-size: auto 100%;
			position: absolute;
			top: -2vw;
			left: 50%;
			@include transform(translateX(-50%));
		}
		form {
			background: $color-red;
			width: 50%;
			height: 80px;
			padding: 20px 0;
			float: left;
			
			p {
				position: absolute;
				top: -60px;
				left: 65px;
				color: #d0d0d0;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 1px;
			}
			
			input[type=text] {
				background: none;
				border: none;
				height: 40px;
				color: $color-white;
				font: 36px/40px $font-stack;
				width:75%;
				padding: 0 0 0 65px;
				
				@include placeholder {
					color: $color-white;
				}
	  
			}
			
			input[type=submit] {
				background: none;
				border: none;
				height: 40px;
				color: $color-white;
				font: 16px/40px $font-stack;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 1px;
				float: right;
				cursor: pointer;
				border-left: 1px dotted $color-white;
				width:25%;
			}
			
		}
		
		ul{
			list-style: none;
			width: 50%;
			right:0;
			top:50%;
			padding: 0 50px;
			position: absolute;
			@include transform(translateY(-50%));
			li{
				float: left;
				color: white;
				a.icon{
					width: 50px;
					height: 30px;
					display: block;
					float: left;
					background-repeat: no-repeat;
					background-position: center center;
					@include background-size(auto 100%);
					span{display: none;}
				}
				p.count{
					float: left;
					margin: 0;
				}
				&#twitter-btn{
					
					a.icon{
						background-image: url(../images/ui-icon-twitter-white.svg);
						position: relative;
						margin-right: 60px;
						float: left;
						&:after{
							content: '';
							height: 1px;
							width: 30px;
							right: -40px;
							display: block;
							position: absolute;
							border-top: 1px dotted white;
							top: 16px;
						}
					}
				}
				&#facebook-btn{
					margin-left: 50px;
					a.icon{
						background-image: url(../images/ui-icon-fb-white.svg);
						position: relative;
						margin-right: 60px;
						float: left;
						&:after{
							content: '';
							height: 1px;
							width: 30px;
							right: -40px;
							display: block;
							position: absolute;
							border-top: 1px dotted white;
							top: 16px;
						}
					}
				}
				
				
				&#youtube-btn{
					margin-left: 50px;
					a.icon{
						background-image: url(../images/ui-icon-youtube-white.svg);
					}
				}
				&#instagram-btn{
					a.icon{
						background-image: url(../images/ui-icon-ig-white.svg);
					}
				}
				&#google-btn{
					a.icon{
						background-image: url(../images/ui-icon-google-white.svg);
					}
				}
				&#bbb-btn{
					position: absolute;
					right:50px;
					a.icon{
						width: 120px;
						background-image: url(../images/ui-footer-bbb.svg);
					}
				}

				@include breakpoint(small){
					&#facebook-btn{
						a.icon{
							margin-right: 0;
							&:after{
								display: none;
							}
						}
					}
					&#twitter-btn{
						a.icon{
							margin-right: 0;
							&:after{
								display: none;
							}
						}
					}
				}
				@include breakpoint(large){
					&#facebook-btn{
						a.icon{
							margin-right: 60px;
							&:after{
								display: block;
							}
						}
					}
					&#twitter-btn{
						a.icon{
							margin-right: 60px;
							&:after{
								display: block;
							}
						}
					}
				}
				
			}
		}
	}
	
	footer {
		padding: 65px;
		background: #212121;
		@extend %clearfix;
		
		nav {
			@extend %clearfix;
			
			div#sitemap {
				float: left;
				list-style: none;
				width: 800px;
				div.col{
					//width: 20%;
					float: left;
					margin-right: 5%;
					&#col1{
						width: 10%;
					}
					&#col2{
						width: 15%;
					}
					&#col3{
						width: 20%;
					}
					&#col4{
						width: 15%;
					}
					&#col5{
						width: 15%;
					}
					ul{
						width: 100%;
						li{
							font: 16px/1.2 $font-stack;
							display: block;
							margin: 0 0 15px;
							width: 100%;
							a {
								color: #999;
								text-decoration: none;
								&:hover {
									color: $color-white;
								}
							}
							ul{
								float: left;
								clear: both;
								li{
									clear: both;
									width: 100%;
								}
							}
							&.menu-item-has-children{
								float: left;
								clear: both;
							}
							&.menu-item-has-children > a:first-child{
								margin: 0 0 15px;
								color: $color-red;
								text-transform: uppercase;
								font-weight: 500;
								display: block;
								float: left;
							}							
						}
					}
				}
			}
			

			ul#more {
				width: 25%;
				float: right;
				margin: 0;
				list-style: none;
				li{
					padding: 10px 0 10px 0;
					margin: 0;
					width: 100%;
					border-bottom: 1px dotted $color-white;
					
					a {
					color: $color-white;
						&:hover {
							color: #999;
						}
					}
				
					&.header {
						border: none;
						margin: 0;
						color: $color-red;
					}
					
					&:last-child {
						border: none;
					}					
				}
			}
		}
	}
}

a.play-btn{
	background: $color-black;
	//background-size: 40px auto;
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	left:50%;
	top:50%;
	z-index: 900;
	border: 5px solid white;
	@include border-radius(100%);
	@include transform-origin(center center);
	@include transform(translateY(-50%) translateX(-50%));
	@include transition($fast $ease);
	span{
		display: none;
	}
	&:before{
		content: '';
		background: transparent url(../images/ui-icon-play-white.svg) 29px center no-repeat;
		background-size: 40px auto;
		width: 100px;
		height: 100px;
		//opacity: 0;
		position: absolute;
		top:-2.5px;
		left: 0;
		z-index: 100;
		@include transition($fast $ease);
	}
	&:after{
		content:'';
		width: 100px;
		height: 100px;
		background: $color-black;
		position: absolute;
		top:-2.5px;
		left: -5px;
		z-index: 11;
		@include transform(rotate(0));
		@include border-radius(100%);
		opacity: 0;
		@include transition($fast $ease);
	}
	&:hover{
		border-color: transparent;
		background-color: transparent;
		@include border-radius(0%);
		&:after{
			opacity: 1;
			background: $color-red;
			@include border-radius(0%);
			@include transform(rotate(-45deg));
		}
		&:before{
			opacity: 1;
			@include transform(scale(1.1));
		}
	}
}

.visually-hidden {
	@extend %visuallyhidden;
}

#register-gateway{
	text-align: center;
	@extend %cleafix;
	#vertical-dotted-line{
		width: 1px;
		border-left: 2px dotted $color-red;
		height: 15vh;
		left: 50%;
		position: relative;
		margin: $pad*2 0;
	}
	img {
		margin: $pad 0 $pad*2;
	}
	h3{
		color: #4cafd4;
		font-weight: bold;
		font-size: 30px;
	}
	.tour h3 {
		color: #0d334c;
	}
	p{
		width: 30%;
		margin: $pad auto $pad*2;
		position: relative;
		display: block;
		min-width: 450px;
		line-height: 1.5;
	}
	ul{
		width: 70%;
		margin: $pad auto;
		padding: 0;
		list-style: none;
		min-width: 800px;
		li{
			float: left;
			width: 33%;
			padding: $pad/2 0;
			&#mid{
				border: 1px solid #ffb2b4;
				border-top: none;
				border-bottom: none;
			}
			img{
				height: 50px;
				width: auto;
				
			}
			p{
				width: 70%;
				letter-spacing: 0.1em;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 500;
				line-height: 1.2;
				min-width: 70%;
				margin: $pad/2 auto;
			}
		}
	}
	.cta{
		clear: both;
		float: left;
		position: relative;
		left: 50%;
		margin-top: $pad;
		@include transform(translateX(-50%));
	}
}

.tour { display: none; }
.alt .tour { display: block; }
.alt .your-turn { display: none; }