$color-black: #212121;
$color-gray: #6d6d6d;
$color-white: #fff;
$color-red: #c20304;
$color-bright-red: #de2122;
$color-blue: #4cafd4;
$color-light-blue: #79d1f2;

$font-stack: "franklin-gothic-urw", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$font-stack-compressed: "franklin-gothic-urw-comp", Arial, sans-serif;

$open-nav-w: 25vw;

$secNavHeight: 90px;
$pad: 40px;

$slow: 0.3s;
$fast: 0.15s;
$ease: ease-in-out;